*{
    margin:0;
    padding:0;
    font-family:'poppins,sans-serif';
    box-sizing:border-box;
}
html{
    font-size: 62.5%;
}


.container{

    background-color:lch(76.37% 40.93 222.2 / 0.758) ;
    
    height: 100vh;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
 
}
.calculator{
    background-color:#040f0fd9;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 4px 4px 4px 2px black ;
    
}
.calculator form input{
    border: 0;
    outline: 0;
    width: 6rem;
    height: 6rem;
    border-radius:1rem ;
    box-shadow: 2px 2px 2px black;
    background-color:rgba(7, 146, 173, 0.105);
    font-size:2rem;
    color:white;
    cursor: pointer;
    margin:10px ;
    font-weight: bold;
}
.display{
    display:flex ;
    justify-content: flex-end;
    margin: 2rem 0;

}
.display input{
    text-align: right;
    flex: 1;
    font-size: 4.5rem;
    box-shadow:none;
    width: 10rem;
    font-weight: bold;
}
form input.equal{
    width: 14.5rem;
}
@media (max-width:62.5rem) {
     html{
        font-size: 50%;
     }
}
@media (max-width:31.25rem) {
      html{
           font-size: 37.5%;
      }
}

@media (max-height:62.5rem) {
     html{
        font-size: 50%;
     }
}
@media (max-height:29rem) {
      html{
           font-size: 37.5%;
      }
}
@media(max-width:16rem){
    html{
        font-size: 25%;
    }
}

@media(max-width:13rem){
    html{
        font-size: 12.5%;
    }
}
