*{
  padding:0;
  margin:0;
  box-sizing: border-box;
   font-family:"poppins",sans-serif;
}
marquee{
  background: linear-gradient(20deg,#c1be08,#ab178d);
  transition: 1s;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
}
  .hero{
    background: linear-gradient(135deg,#523ccd,#08c196);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
  }
 h1{
  margin-bottom: 30px;
 }
   h1 span{
    color:tomato;
    text-decoration: underline;
  }
textarea {
  width:37.5rem;
  height: 17rem;
  background: linear-gradient(15deg,#2587b1),#58dcbf;
  color: white;
  font-size: 15px;
  border:0;
  outline:0;
  padding:20px;
  border-radius:10px;
  resize:none;
  margin-bottom: 30px;
}
textarea ::placeholder{
  color:white;
}
.row{
  width: 600px;
  display: flex;
  align-items: center;
  gap:20px;
}
button{
  background-color: #ff2963;
  color:white;
  font-size: 16px;
  border-radius: 10px;
  padding: 10px 30px;
  border:0;
  outline:0;
  cursor:pointer;
  display: flex;
  align-items: center;
}
.icon{
  width:1rem;
  height:1rem;
  margin-right:10px;
}
select{
  flex:1;
  color:#fff;
  background: #403d84;
  height: 50px;
  padding:0 20px;
  outline:0;
  border:0;
  border-radius:35px;
  appearance: none;
  background-image:url ("images/drop.png");
  background-repeat: no-repeat;
  background-size: 15px;
  background-position-x: calc(100%-20px);
background-position-y: 20px;
}